html {
	font-size: 2vh;
    font-family: "Montserrat", "Helvetica", "Arial";
    text-align: center;
    color: white;
    background: black;
}
h1, h2, h3 { font-weight: 500; }
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}

#words span { color: green }
#words span.wrong { color: red }
#words-container {
    overflow: hidden;
    height: 50vh;
}

input[type=text] {
    font-size: 3em;
    font-weight: 500;
    width: 100%;
    margin: none;
    background: none;
    color: white;
    border: solid white;
    border-width: 2px 0 2px 0;
}